* {
  margin: 0;
}
.header {
  background-color: rgb(231, 229, 229);
  padding: 10px;

  margin-left: 10px;
  margin-right: 10px;
  height: 95vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 17px;
}

button {
  margin-top: 17px;
}
